html
  head
    title= title
  body
    h1= message
    img(src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiN4_KMkK_lAhUx6KYKHSKeDlIQjRx6BAgBEAQ&url=https%3A%2F%2Fzabavnik.club%2Fkartinki%2F1147-milye-kartinki-dlya-ld&psig=AOvVaw1jvFmzPSlVgmWJ4uHCLU5g&ust=1571808214844928", alt="Текст если нет картинки")
    h2= 'Домахина Ксения,группа 1295У'
    a(href="./page2") Ссылка на 2 страницу
